* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
  overflow-y: hidden;
}

.main-container {
  min-width: 100vw !important;
  min-height: 100vh !important;
  color: white;
}

.response-container {
  width: 80%;
  height: 70vh !important;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
}

.prompt-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 82%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.prompt-inp{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.prompt-btn{
    width: 120px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #ff5722;
    color: white;
    font-weight: bold;
    cursor: pointer;
}